{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Young Stoner Life - {% block title %}{% endblock %} 
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <!-- Favicon icon -->

    <link rel="stylesheet"  href="{% static '/assets/images/favicon.ico' %}">
    <!-- fontawesome icon -->
    <link rel="stylesheet"  href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet"  href="{% static 'assets/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet"  href="{% static 'assets/css/style.css' %}">

    <link rel="style" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">


    <!-- Specific CSS goes HERE -->

    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>

    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-scrollbar/js/jquery.scrollbar.min.js' %}"></script>
   


</head>

<body>

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>    
    
    <!-- Top Bar -->

    <!-- SideBar -->
    {% include 'includes/sidebar.html' %}

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            {% block content %}{% endblock content %}

        </div>
    </div>

</body>
</html>
