
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">

                    <span class="b-title">Gunna</span>

            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Work</label>
                    </li>
                     <li data-username="Charts Morris" class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-disc">
                        </i></span><span class="pcoded-mtext text-uppercase">albums</span>
                        </a>
                    </li>
                 <li data-username="Charts Morris" class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-globe">
                        </i></span><span class="pcoded-mtext text-uppercase">shows</span>
                        </a>
                    </li>
                 <li data-username="Charts Morris" class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-headphones">
                        </i></span><span class="pcoded-mtext text-uppercase">studio sessions</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Notifications & Settings</label>
                    </li>

                    <li data-username="Charts Morris" class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-bell">
                        </i></span><span class="pcoded-mtext text-uppercase">Notifications</span>
                        </a>
                    </li>
                <li data-username="Charts Morris" class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-settings">
                        </i></span><span class="pcoded-mtext text-uppercase">Settings</span>
                        </a>
                    </li>
                <li data-username="Charts Morris" class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="{% url 'user-logout'%}" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-power">
                        </i></span><span class="pcoded-mtext text-uppercase">Logout</span>
                        </a>
                    </li>



                </ul>
            </div>
        </div>
    </nav>
