{% extends "layouts/base.html" %}

{% block title %} Update Album {% endblock %}


{% block content %}
 <div class="" id="update-album-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <div class="card Recent-Users">
    <div class="card-header">
        <h5 class="text-uppercase">Update Album</h5>
    </div>
</div>
</div>
      <div class="modal-body">
        <p id="error" class="text-danger"></p>

         <form method="post" enctype="multipart/form-data"  id="update-album-form">

            {% csrf_token %}
            <div class="row">

            {% for my_form in form %}
            <div class="col-sm-6">
                <div class="form-group">
                <p>{{ my_form }}</p>
            </div>
            </div>
            {% endfor %}





      <div>
      <div class="modal-footer">
        <a href="{% url 'albums' %}" type="button" class="btn btn-outline-danger" data-dismiss="modal" >Close</a>
        <button type="submit" class="btn btn-outline-info">Update Album</button>
      </div>
    </div>
            </div>
     </form>
    </div>


</div>
    </div>








    </div>
<style>
      #update-album-modal {
            display: block;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }





    </style>

    <script>
     let cover_art = $('#id_cover_art')
     cover_art.addClass("form-control")

    $(document).on("submit", "#update-album-form", function(event) {
                event.preventDefault()

                const formdata = new FormData(this);
                const album = formdata.get('album');
                const no_of_tracks = formdata.get('no_of_tracks');
                const first_week_sales = formdata.get('first_week_sales');
                const date_released = formdata.get('date_released');
                const artist_id = formdata.get('artist_id');
                const cover_art = formdata.get('cover_art');
                const test = /^[a-zA-Z@#$%&*_+{}:><]+$/;
                const test2 = /^[@#$%&*_+{}:><]+$/;

                if(album === ""){
                    $("#error").html("Enter Album Name")
                }else  if(no_of_tracks === "" ){
                    $("#error").html("Enter Number Of Tracks")
                }else if(first_week_sales === ""){
                    $("#error").html("Enter First Week Sales")
                }else if(artist_id === ""){
                    $("#error").html("Select Artist ")
                }else if(cover_art === ""){
                    $("#error").html("Select Picture")
                } else if (first_week_sales.value.match(test)) {
                    $("#error").html("First Week Sales Should Contain Numbers Only")
                } else if (album.value.match(test2)) {
                    $("#error").html("Album Name  Should Contain Numbers and Letters Only")
                } else {

                    $.ajax({
                    method:"POST",
                    url:"{% url 'update-album' pk %}",
                    data:formdata,
                    dataType:"json",
                    processData:false,
                    contentType:false,
                    cache:false,
                    mimeType:'multipart/form-data',
                    success:function(response){

                        if(response.saved === "Yes"){
                            //display the modal that data has been saved
                            window.alert("Album  Successfully Updated")

                            $("#save_modal").show()
                        }else{
                            //display data was not saved
                           window.alert("Error While  Updating Album")
                        }

                    },
                    error:function(error){
                        console.log(error)
                    }
                    })


                            }


            });

    </script>


{% endblock %}